@use "@/styles/mixins";
@use "@/styles/variables";

.repositories {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: space-between;
  gap: 80px 10px;

  @media screen and (width <= variables.$breakpoint-xl) {
    & {
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(347px, 1fr));
      gap: 20px;
      width: 100%;
    }
  }
  &__container {
    @include mixins.container {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding-top: variables.$spacing-40;
    }
  }
}
