$back-color: rgba(245, 245, 245, 1);
$back-color-second: rgba(255, 255, 255, 1);

$accent-color: rgba(31, 136, 61, 1);
$accent-color-light: rgba(31, 136, 61, 0.7);
$accent-color-dark: rgba(8, 83, 29, 1);

$green: #32ff00;

$primary-color: rgba(0, 0, 0, 1);
$secondary-color: rgba(175, 175, 175, 1);

$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1440px;

$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-40: 40px;

$border-radius: 8px;

$grey: rgba(217, 217, 217, 1);

$shadow:
  5px 5px 10px #d1d9e6,
  -5px -5px 10px #ffffff;
