@use "@/styles/variables";
@use "@/styles/mixins";

.header {
  padding-block: variables.$spacing-16;
  border-bottom: 2px solid variables.$grey;

  &__container {
    @include mixins.container {
      display: grid;
      align-items: center;
      justify-content: space-between;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "logo nav avatar";

      @media screen and (width <= variables.$breakpoint-m) {
        grid-template-columns: auto 1fr auto;
      }
    }
  }
  &__logo {
    grid-area: logo;
  }
  &__navigation {
    justify-content: center;
    display: flex;
    gap: 20px;
    align-items: center;
    grid-area: nav;
  }
  &__rightBlock {
    grid-area: avatar;
    display: flex;
    gap: 10px;
    justify-content: flex-end;

    @media screen and (width <= variables.$breakpoint-s) {
      flex-direction: column;
    }
  }
}
