@use "@/styles/mixins";
@use "@/styles/variables";

.profile {
  &__title {
    width: 100%;
    text-align: center;
  }

  &__container {
    @include mixins.container {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding-top: variables.$spacing-40;
    }
  }
  &__repos {
    @include mixins.gridContainer;

    & > p {
      grid-column: 1 / -1;
      text-align: center;
    }
  }
}
