@use "@/styles/variables";
@use "@/styles/mixins";

.favorites {
  @include mixins.gridContainer;

  &__container {
    @include mixins.container {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding-top: variables.$spacing-40;
    }
  }
  &__title {
    width: 100%;
    margin-top: variables.$spacing-24;
    font-size: 2rem;
    text-align: center;
  }
  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;

    h1 {
      font-size: 1.5rem;
      margin-top: variables.$spacing-16;
    }

    p {
      margin-top: variables.$spacing-8;
      max-width: 300px;
    }
  }
}
